@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Josefin Sans", serif;
}

.todo {
  font-family: "Roboto Mono", sans-serif;
}

.circle-border {
  border: 2.5px solid lightgrey;
  transition: border 0.3s ease-in-out;
}

.circle-border1 {
  border: 2.5px solid lightgrey;
}

.circle-border:hover {
  border: 2.5px solid blueviolet;
}

.notask {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid gray; /* Mimics a cursor */
  width: 10ch; /* Start width */
  animation: typing 4s steps(10, end) alternate infinite,
    blinkCursor 0.6s step-end infinite;
}

@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 10ch;
  }
}

@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}

@media screen and (max-width: 450px) {
  .mobile {
    width: 95%;
  }

  .todo {
    font-size: 24px;
  }
}
